*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  border: none;
  outline: none;
}

button {
  text-decoration: underline;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  
  :focus {
    outline: 0;
  }
}